<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>surveillance Rover</title>
  </head>
  <body>
    <img src="http://192.168.47.239:8888/video" style="width:100%; max-width: 800px; max-height:800px; border-radius:10px"></img>
    <form action="/control" method="post">
      <table style = "width:100%">
      	<tr>
      		<td></td>
      		<td>
      		 <input type="submit" value="Foward" name ="buttonPress" style = "height:150px;width:150px;font-weight:bold;font-size: 180%"></input>
      		<td></td>
      		<td>
      		 <input type="submit" value="Fast" name ="buttonPress" style = "height:150px;width:150px; color:#a7cb00; font-weight:bold;font-size: 200%"></input>
      		</td>

      	</tr>
      	<tr>
      		<td>
      		 <input type="submit" value="Left" name ="buttonPress" style = "height:150px;width:150px;font-weight:bold;font-size: 200%"></input>
      		</td>
      		<td>
      		 <input type="submit" value="Back" name ="buttonPress" style = "height:150px;width:150px;font-weight:bold;font-size: 200%"></input>
      		</td>
      		<td>
      		 <input type="submit" value="Right" name ="buttonPress" style = "height:150px;width:150px;font-weight:bold;font-size: 200%"></input>
      		<td>
      		 <input type="submit" value="Slow" name ="buttonPress" style = "height:150px;width:150px; color:#f00; font-weight:bold; font-size: 200%"></input>
      		</td>
      	</tr>

      </table>
		</form>
		<script>

			var ws = new WebSocket("ws://192.168.47.238:8080/ws");

			ws.onopen = function () {
				console.log("connected");
			};

			$(document).keypress(function (e) { // pressing key 
					if (e.keyCode == 87) { // w
						console.log('W');
						ws.send("Forward");
					}
				});

			ws.onclose = function () {
				console.log("disconnected");
			};
		</script>
  </body>
</html>
