<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
		<title>Surveillance Rover</title>
		<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
		<style>
			body {
					background: url(/static/img/background.jpg) no-repeat fixed ;
					background-size: cover;
			}
		</style>
  </head>
  <body>
    <img src="http://192.168.254.14:8888/video" style="width:100%; max-width: 800px; max-height:800px; border-radius:10px"></img>
    <form action="/control" method="post">
      <table style = "width:100%">
      	<tr>
      		<td></td>
      		<td>
      		 <input type="submit" value="Forward" name ="buttonPress" style = "height:150px;width:150px;font-weight:bold;font-size: 180%"></input>
      		<td></td>
      		<td>
      		 <input type="submit" value="Fast" name ="buttonPress" style = "height:150px;width:150px; color:#a7cb00; font-weight:bold;font-size: 200%"></input>
      		</td>

      	</tr>
      	<tr>
      		<td>
      		 <input type="submit" value="Left" name ="buttonPress" style = "height:150px;width:150px;font-weight:bold;font-size: 200%"></input>
      		</td>
      		<td>
      		 <input type="submit" value="Back" name ="buttonPress" style = "height:150px;width:150px;font-weight:bold;font-size: 200%"></input>
      		</td>
      		<td>
      		 <input type="submit" value="Right" name ="buttonPress" style = "height:150px;width:150px;font-weight:bold;font-size: 200%"></input>
      		<td>
      		 <input type="submit" value="Slow" name ="buttonPress" style = "height:150px;width:150px; color:#f00; font-weight:bold; font-size: 200%"></input>
      		</td>
      	</tr>

      </table>
		</form>
		
		<script>

			// var ws = new WebSocket("ws://192.168.254.22:8080/ws");
			var ws = new WebSocket("ws://192.168.47.238:8080/ws");

			ws.onopen = function () {
				console.log("connected");
			};

			$(document.body).keydown(function (e) { // pressing key 
					if (e.keyCode == 87) { // w
						console.log('W');
						ws.send("Forward");
					}
					else if (e.keyCode == 83) { //s
						console.log('S');
						ws.send("Back");
					}
					else if (e.keyCode == 68) { //d
						console.log('D');
						ws.send("Right");
					}
					else if (e.keyCode == 65) { //a
						console.log('A');
						ws.send("Left");
					}
					else if (e.keyCode == 81) { //q
						console.log('Q');
						ws.send("Slow");
					}
					else if (e.keyCode == 69) { //e
						console.log('E');
						ws.send("Fast");
					}
					else if (e.keyCode == 87 && e.keyCode == 65) {
						console.log('WA');
					}

			});
			$(document.body).keyup(function (e) { // pressing key 
					console.log('Stop');
					ws.send("Release");
					
				});

			ws.onclose = function () {
				console.log("disconnected");
			};
		</script>
  </body>
</html>
